<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    
    

    
    <add key="OutputFileName" value="ScrubM_Bing_US_Disney_ExecutiveSummary.xlsx"/>
    <add key="DbUser" value="marketly-read"/>
    <add key="DbPassword" value="1bd3be01-fcb2-4701-be3c-1880103b8360"/>
    <add key="DbServer" value="marketly-store"/>
    <add key="DbName" value="dash_disney_production"/>

    <add key="ReportDate" value=""/>
    <add key="OutputDir" value="C://Marketly//Weekly Reports"/>
    <!--<add key="FileTemplate" value="C://Marketly//ScrubM_Bing_US_Disney_ExecutiveSummary.xlsx"/>-->
    <add key="production-Email" value="sulay.thakkar@marketly.com,vijay.maheshwari@marketly.com"/>
    <add key="production-Smtp" value="marketly-mailer"/>
    <add key="production-Noreply" value="no-reply@marketly.com"/>
    <add key="production-SmtpServerPort" value="25"/>
    <add key="production-EnableSsl" value="false"/>
    <add key="production-SmtpPassword" value="9ED9C476-E67B-4EB2-BB24-CD213A3673D8"/>

  </appSettings>
<log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:/Marketly/Logs/%date{yyyyMMdd}/WeeklyReports/WeeklyReports-%date{yyyyMMdd}-%processid.log" />
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false" />
      <threshold value="INFO" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d] %5p: %m%n" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="White" />
        <backColor value="Cyan" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
        <backColor value="Blue" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
        <backColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>
    
    
</configuration>
